
<body>
  <ul id="toolbar">
    <li id="menu"><i class="fa fa-bars"></i></li>
    <!--li#search
    //input(type="text", name="search", value="Search")
    //i.fa.fa-search
    -->
  </ul>
  <section class="wrapper">
    <ul id="agenda" ng-controller="HomeController as HomeCtrl">
      <div id="daySelector">
        <ul>
          <li class="prev"><i class="fa fa-chevron-left"></i></li>
          <li class="date">Jan 22, 2015</li>
          <li class="next"><i class="fa fa-chevron-right"></i></li>
        </ul>
      </div>
      <form id="addTodo">
        <input type="text" placeholder="New todo.." autofocus="autofocus" ng-keydown="HomeCtrl.addTodo()"/>
      </form>
      <li ng-repeat="item in HomeCtrl.items" data-id="{{$index}}" class="item"><a ng-click="HomeCtrl.toggleItemControls()">{{item.title}}</a><a ng-click="HomeCtrl.toggleStatus()" class="delete"><i class="fa fa-trash-o"></i></a></li>
    </ul>
    <script type="text/template" id="controlsTemplate">
      <ul id="controls" style="display: none;">
          <li class="complete active"><a><i class="fa fa-check-circle"></i>Complete</a></li>
          <li class="retask"><a><i class="fa fa-clock-o"></i>ReTask</a></li>
          <li class="reassign"><a><i class="fa fa-user-plus"></i>ReAssign</a></li>
      </ul>
    </script>
  </section>
</body>