
<body>
  <ul id="toolbar">
    <li id="menu" ng-click="AppCtrl.toggleMenu()"><i class="fa fa-bars"></i></li>
    <li id="nav">
      <ul>
        <li><a href="#/home">Home</a></li>
        <li><a href="#/register">Register</a></li>
        <li><a href="#/login">Login</a></li>
      </ul>
    </li>
    <li id="search">
      <input type="text" name="search" value="Search" autofocus="autofocus" ng-model="AppCtrl.items"/><i class="fa fa-search"></i>
    </li>
  </ul>
  <section class="wrapper">
    <ul id="canvas" ng-controller="CalendarController as CalCtrl">
      <li ng-repeat="days in CalCtrl.daysInMonth" ng-class="{today: $index == (CalCtrl.getToday() - 1)}" class="day">{{ $index + 1 }}<a data-day_index="{{ $index }}"></a><span class="todoCount"></span><span class="completed"></span></li>
    </ul>
    <ul id="agenda" ng-controller="AgendaController as AgendaCtrl">
      <div id="daySelector">
        <ul>
          <li class="prev"><i class="fa fa-chevron-left"></i></li>
          <li class="date"></li>
          <li class="next"><i class="fa fa-chevron-right"></i></li>
        </ul>
      </div>
      <form id="addTodo">
        <input type="text" placeholder="New todo.." ng-keydown="AgendaCtrl.addTodo()"/>
      </form>
      <li ng-repeat="item in AgendaCtrl.items" data-id="{{item.id}}" class="item"><a ng-click="AgendaCtrl.toggleItemControls()">{{item.title}}</a><a ng-click="AgendaCtrl.setTodoFinished()" class="delete"><i class="fa fa-trash-o"></i></a></li>
    </ul>
    <script type="text/template" id="controlsTemplate">
      <ul id="controls" style="display: none;">
          <li class="complete active"><a ng-click="AgendaCtrl.editTodoDetails()"><i class="fa fa-pencil-square-o"></i>Details</a></li>
          <li class="retask"><a><i class="fa fa-clock-o"></i>ReTask</a></li>
          <li class="reassign"><a><i class="fa fa-user-plus"></i>ReAssign</a></li>
      </ul>
    </script>
  </section>
</body>