
<body>
  <ul id="toolbar">
    <li id="menu"><i class="fa fa-bars"></i></li>
    <li id="search">
      <input type="text" name="search" value="Search"/><i class="fa fa-search"></i>
    </li>
  </ul>
  <section class="wrapper">
    <ul id="agenda" ng-controller="HomeController as HomeCtrl">
      <div id="daySelector">
        <ul>
          <li class="prev"><i class="fa fa-chevron-left"></i></li>
          <li class="date">Jan 22, 2015</li>
          <li class="next"><i class="fa fa-chevron-right"></i></li>
        </ul>
      </div>
      <form id="addTodo">
        <input type="text" placeholder="New todo.." autofocus="autofocus"/>
      </form>
      <ul id="controls">
        <li><a>Todo</a></li>
        <li><a>Contact</a></li>
        <li><a>Appointment</a></li>
      </ul>
      <li class="item completed"><a ng-click="AppCtrl.updateItem()">Wipe down the office</a></li>
      <li class="item"><a ng-click="AppCtrl.updateItem()">Buy Czara food</a></li>
      <li class="item"><a ng-click="AppCtrl.updateItem()">Go to office tomorrow</a></li>
    </ul>
  </section>
</body>