
<body>
  <ul id="toolbar">
    <li id="menu" ng-click="AppCtrl.toggleMenu()"><i class="fa fa-bars"></i></li>
    <li id="nav">
      <ul>
        <li><a href="#/home">Home</a></li>
        <li><a href="#/register">Register</a></li>
        <li><a href="#/login">Login</a></li>
      </ul>
    </li>
    <li id="search">
      <input type="text" name="search" value="Search" autofocus="autofocus" ng-model="AppCtrl.items"/><i class="fa fa-search"></i>
    </li>
  </ul>
  <section class="wrapper">
  </section>
</body>