
<body>
  <ul id="toolbar">
    <li id="menu" ng-click="AppCtrl.toggleMenu()"><i class="fa fa-bars"></i></li>
    <li id="nav">
      <ul>
        <li><a href="#/">Home</a></li>
        <li><a href="#/register">Register</a></li>
        <li><a href="#/login">Login</a></li>
      </ul>
    </li>
    <li id="search">
      <input type="text" name="search" value="Search" autofocus="autofocus" ng-model="query"/><i class="fa fa-search"></i>
    </li>
  </ul>
  <section class="wrapper">
    <div ng-controller="RegisterController as RegCtrl" class="form-wrapper">
      <h1 class="title">Register
        <p>Time to take control of your schedule.</p>
      </h1>
      <form ng-submit="RegCtrl.submitForm()">
        <div class="form-group">
          <div class="input-group"><span class="input-group-addon"><span>@</span></span>
            <input type="text" placeholder="Username" name="username" ng-model="RegCtrl.user.username" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group"><span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" placeholder="First Name" name="first_name" ng-model="RegCtrl.user.first_name" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group"><span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" placeholder="Last Name" name="last_name" ng-model="RegCtrl.user.last_name" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group"><span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
            <input id="inputEmail" type="email" placeholder="Email" name="email" ng-model="RegCtrl.user.email" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group"><span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <input id="inputPassword" type="password" placeholder="Password" name="password" ng-model="RegCtrl.user.password" class="form-control"/>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Signup</button>
      </form>
    </div>
  </section>
</body>