extends ./layout.jade

block body
    ul#canvas(ng-controller="CalendarController as CalCtrl")
        li.day(ng-repeat="days in CalCtrl.daysInMonth", ng-class="{today: $index == (CalCtrl.getToday() - 1)}") {{ $index + 1 }}
            a(data-day_index="{{ $index }}")
            span.todoCount
            span.completed

    ul#agenda(ng-controller="AgendaController as AgendaCtrl")
        #daySelector
            ul
                li.prev
                    i.fa.fa-chevron-left
                li.date

                li.next
                    i.fa.fa-chevron-right

        form#addTodo
            input(type="text", placeholder="New todo..", autofocus, ng-keydown="AgendaCtrl.addTodo()")


        li.item(ng-repeat="item in AgendaCtrl.items", data-id="{{item.id}}")
            a(ng-click='AgendaCtrl.toggleItemControls()') {{item.title}}
            a.delete(ng-click='AgendaCtrl.setTodoFinished()')
                i.fa.fa-trash-o

    script(type="text/template", id="controlsTemplate").
        <ul id="controls" style="display: none;">
            <li class="complete active"><a ng-click="AgendaCtrl.editTodoDetails()"><i class="fa fa-pencil-square-o"></i>Details</a></li>
            <li class="retask"><a><i class="fa fa-clock-o"></i>ReTask</a></li>
            <li class="reassign"><a><i class="fa fa-user-plus"></i>ReAssign</a></li>
        </ul>