extends ./layout.jade

block body
    ul#agenda(ng-controller="HomeController as HomeCtrl")
        #daySelector
            ul
                li.prev
                    i.fa.fa-chevron-left
                li.date
                    |Jan 22, 2015
                li.next
                    i.fa.fa-chevron-right

        form#addTodo
            input(type="text", placeholder="New todo..", autofocus, ng-keydown="HomeCtrl.addTodo()")


        li.item(ng-repeat="item in HomeCtrl.items", data-id="{{$index}}")
            a(ng-click='HomeCtrl.toggleItemControls()') {{item.title}}
            a.delete(ng-click='HomeCtrl.toggleStatus()')
                i.fa.fa-trash-o

    script(type="text/template", id="controlsTemplate").
        <ul id="controls" style="display: none;">
            <li class="complete active"><a><i class="fa fa-check-circle"></i>Complete</a></li>
            <li class="retask"><a><i class="fa fa-clock-o"></i>ReTask</a></li>
            <li class="reassign"><a><i class="fa fa-user-plus"></i>ReAssign</a></li>
        </ul>