body
	ul#toolbar
		li#menu(ng-click="AppCtrl.toggleMenu()")
			i.fa.fa-bars
		li#nav
			ul
				li
					a(href="#/home") Home
				li
					a(href="#/register") Register
				li
					a(href="#/login") Login

		li#search
			input(type="text", name="search", value="Search", autofocus, ng-model="AppCtrl.items")
			i.fa.fa-search

	section.wrapper
		block body