doctype html
html(lang="en")
    head
        block title
            title= 'title here'
    body
        ul#toolbar
            li#menu
                i.fa.fa-bars
            li#search
                i.fa.fa-search
        block body
            p placeholder html