body
    ul#toolbar
        li#menu
            i.fa.fa-bars
        li#search
            input(type="text", name="search", value="Search")
            i.fa.fa-search
    section.wrapper
        block body
            p placeholder html


