extends ./layout.jade
	
block body
	.form-wrapper(ng-controller="RegisterController as RegCtrl")
		h1.title Register
			p Time to take control of your schedule.

		form(ng-submit="RegCtrl.submitForm()", id="RegisterForm")
			.form-group
				.input-group
					span.input-group-addon
						span @
					input.form-control(type="text", placeholder="Username", name='username', ng-model="RegCtrl.user.username")
			
			.form-group
				.input-group
					span.input-group-addon
						span.glyphicon.glyphicon-user
					input.form-control(type="text", placeholder="First Name", name='first_name', ng-model="RegCtrl.user.first_name")

			.form-group
				.input-group
					span.input-group-addon
						span.glyphicon.glyphicon-user
					input.form-control(type="text", placeholder="Last Name", name='last_name', ng-model="RegCtrl.user.last_name")

			.form-group
				.input-group
					span.input-group-addon
						span.glyphicon.glyphicon-envelope
					input.form-control#inputEmail(type="email", placeholder="Email", name='email', ng-model="RegCtrl.user.email")

			.form-group
				.input-group
					span.input-group-addon
						span.glyphicon.glyphicon-lock
					input.form-control#inputPassword(type="password", placeholder="Password", name="password", ng-model="user.password")

			.form-group
				.input-group
					span.input-group-addon
						span.glyphicon.glyphicon-lock
					input.form-control#inputPasswordConfirmation(type="password", placeholder="Confirm Password", name="password2", ng-model="user.password2")
        
			button.btn.btn-primary(type="submit") Signup

		.panel.panel-danger(ng-show="showReqs", id="RegisterReqs")
			.panel-heading
				h3.panel-title Password Requirements

			.panel-body
				ul
					li(ng-repeat="req in reqs") {{ req }}