@import url(//fonts.googleapis.com/css?family=Lato:700);
body { margin: 0px; font-family: 'Lato', sans-serif; text-align: center; color: #999; }
.welcome { width: 300px; height: 200px; position: absolute; left: 50%; top: 50%; margin-left: -150px; margin-top: -100px; }
a, a:visited { text-decoration:none; }
h1 { font-size: 32px; margin: 16px 0 0 0; text-align: left; }
p { text-align: left; font-size: 12pt; font-weight: normal; }

h1.title {
  margin-bottom: 20px;
  line-height: 1.3;

  p {
    color: #777;
  }
}

body {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #dddddd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#dddddd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  min-height: 900px;
  margin: 0;
  padding: 0;
  font-size: 11pt;
  font-family:  helvetica;
}

ul { list-style: none; margin: 0; padding: 0; }
ul li { margin: 0; padding: 0; }

ul#agenda {
  float: right; width: 25%; min-height: 450px; position: relative; overflow: hidden;

  #daySelector {
    position: relative;
    width: 100%;
    padding: 5px 0;
    margin: 0 auto 5px auto;
    background: #01235a;
    
    ul li { color: #fff; margin: 0; padding: 0; }
    ul li.prev, ul li.next { top: 5px; font-size: 12pt; }
    ul li.prev { position: absolute; left: 3px; }
    ul li.date { text-align: center; color: #fff; }
    ul li.next { position: absolute; right: 3px; }
  }


  & > li {
    display: block;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    line-height: 1.4;
    width: 100%;
    text-align: left;
    float: left;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
    
    &:nth-child(3) { border-top: none; }
    &:last-child { border-bottom: none; }


    input[type="checkbox"]{
      margin: 0;
      padding: 0;
    }
  }
  & li a {
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    box-sizing: border-box;
  }
  & li a:first-child {
    display: block;
    width: 100%;
    float: right;
    text-decoration: none;
    color: #333;
    cursor: pointer;
  }
  & li a:nth-child(2) {
    position: absolute;
    right: 5px;
    display: none;
  }
  & li:hover a.delete{
    display: block;
    cursor: pointer;
  }

  & li.completed a { color: #ccc; text-decoration: line-through; }
  
  & > li:first-child {
    padding: 0;
  }
  & > li:first-child input {
    border: 0;
    background: #f9fcf7; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9fcf7 0%, #eeeeee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9fcf7), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f9fcf7 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f9fcf7 0%,#eeeeee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f9fcf7 0%,#eeeeee 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f9fcf7 0%,#eeeeee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
    background-repeat: no-repeat;
    color: #777;
    padding: 7px;
    display: block;
    width: 100%;
    font-size: 12pt;
    border-radius: 2px;
    border: 1px solid #eee;
  }
  & > li:nth-child(2) {
    position: absolute;
    width: 420px;
    top: 30px;
    left: -3px;
  }

  ul#controls {
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 3px 0 4px;
    box-sizing: border-box;
    position: relative;
    display: none;

    .complete, .retask, .reassign {
      a {
        display: block;
        text-align: center;
        color: #fff;
        font-size: 12pt;
        padding: 7px;
        box-sizing: border-box;
        width: 100%;

        i.fa {
          margin: 1px 0 0 -1px;
          padding-right: 7px;
        }
      }
      &.active a {
        border-bottom: 2px solid #01235a;
      }
    }
    .complete {
      a { background: #66cc23; }
    }
    .retask {
      a { background: #4285f4; }
    }
    .reassign {
      a{ background: #de3e35; }
    }
  }
  ul#controls li {
    float: left;
    width: 33%;
    margin-right: 1px;
    padding: 0;
  }
  ul#controls li a {
    text-decoration: none;
    color: #ddd;
    font-size: 9pt;
    background: initial;
    width: initial;
    position: static;
    left: initial;
    top: initial;
  }
}

.form-wrapper {
  margin: 70px auto 0;
  width: 40%;

  form {
    label, button { float: left; }
  }
}

form#addTodo {
  width: 100%;
  box-sizing: border-box;
  padding: 0px;
  margin: 0 0 10px;

  input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #ccc;
  }
}

#content { float: left; width: 68%; height: 850px; margin-right: 1%; overflow: hidden; position: relative; }
#content > li {
  width: 99.8%;
  background: #ddd;
  border: 1px solid #ccc;
  height: 500px;
  margin-bottom: 10px;
  position: absolute;
  left: 100%;
}

#content #apointment {}
#content #apointment p {
  margin: 5px 0 0 10px;
}
#content #apointment textarea {
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 11pt;
}

#clearCompleted {
  color: #333;
  text-align: right;
  text-decoration: none;
  display: none;
}

.save {
  font-size: 12pt;
  color: #fff;
  background-color: #00aaff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 170, 255)), to(rgb(0, 138, 207)));
  background-image: -webkit-linear-gradient(top, rgb(0, 170, 255), rgb(0, 138, 207));
  background-image: -moz-linear-gradient(top, rgb(0, 170, 255), rgb(0, 138, 207));
  background-image: -o-linear-gradient(top, rgb(0, 170, 255), rgb(0, 138, 207));
  background-image: -ms-linear-gradient(top, rgb(0, 170, 255), rgb(0, 138, 207));
  background-image: linear-gradient(top, rgb(0, 170, 255), rgb(0, 138, 207));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#00aaff', EndColorStr='#008acf');
  border: 1px solid #00557f;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 2px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#content #calWrapper {
  position: absolute;
  background: initial;
  border: 0;
}

#content #calWrapper #calendar {
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  overflow: hidden;
  width: 905px;
}

#content #calWrapper #calendar .day {
  width: 180px;
  height: 140px;
  float: left;
  position: relative;
  border-right: 1px solid #999;
  border-top: 1px solid #999;
}

#content #calWrapper #calendar .date {
  color: #333;
  position: absolute;
  left: 7px;
  top: 3px;
}

#content #calWrapper #calendar .day_name {
  color: #777777;
  position: absolute;
  right: 7px;
  top: 3px;
}

.today {
  background: #f3fbff;
}

#toolbar {
  background: #4285f4;
  position: fixed;
  box-sizing: border-box;
  height: 56px;
  top: 0;
  width: 100%;
  z-index: 22;
  display: -webkit-flex;
  display: flex;
  &:before {
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    content: "";
    height: 56px;
    left: -2%;
    position: fixed;
    width: 104%;
  }
  
  #menu i, #search i {
    &:hover {
      cursor: pointer;
    }
  }
  #menu {
    position: absolute;
    left: 15px;
    
    i {
      color: #fff;
      font-size: 18pt;
      line-height: 2.1;
      
      /* Firefox */
      -moz-transition: all 200ms;
      /* WebKit */
      -webkit-transition: all 200ms;
      /* Opera */
      -o-transition: all 200ms;
      /* Standard */
      transition: all 200ms;
    }

    i.open {
      /* Firefox */
      -moz-transform: rotate(90deg);
      /* WebKit */
      -webkit-transform: rotate(90deg);
      /* Opera */
      -o-transform: rotate(90deg);
      /* Standard */
      transform: rotate(90deg);
    }
  }
  
  #nav {
    ul {
      display: none;
      margin: 55px 0 0 12px;
      padding: 10px 0px 10px 12px;
      position: relative;
      z-index: -999;
      background: #4285f4;
      width: 175px;

      li {
        text-align: left;
        margin: 4px auto 5px 0;
        
        a {
          color: #fff;
        }
      }
    }
  }

  #search {
    position: absolute;
    left: 70px;
    width: 907px;
    top: 9px;

    & > input[type="text"]{
      background: rgba(255, 255, 255, 0.15);
      border: none;
      width: 100%;
      height: 36px;
      box-sizing: border-box;
      padding: 7px;
      border-radius: 1px;
      text-indent:30px;
      color: #fff;

      *::-webkit-input-placeholder {
        color: #fff;
      }

      :-moz-placeholder { /* Firefox 18- */
        color: #fff;
      }

      ::-moz-placeholder {  /* Firefox 19+ */
        color: #fff;
      }

      :-ms-input-placeholder {
        color: #fff;
      }
    }
    i {
      color: #fff;
      font-size: 14pt;
      line-height: 1;
      position: absolute;
      left: 7px;
      top: 8px;
    }
  }
}

.wrapper {
  overflow: hidden;
  margin: 100px auto 0;
  width: 90%;
  p { text-align: left; }
}

#canvas {
  float: left;
  width: 70%;
  display: block;
  margin: 0;
  padding: 0;
  background: #dce5f4;
  border-left: 1px solid #5d6a7f;
  border-top: 1px solid #5d6a7f;

  li { text-align: left; }
  .day {
    width: 100px;
    height: 100px;
    float: left;
    padding: 7px;
    box-sizing: border-box;
    border-right: 1px solid #5d6a7f;
    border-bottom: 1px solid #5d6a7f;
    position: relative;
    z-index: 1;
    
    a {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      &:hover { cursor: pointer; }
    }
    &.selected {
      background: rgb(238, 244, 255);
    }
  }
}

.success {
  background: #e8fad7;
  color: #9ec579;
  border: 1px solid #9ec579;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 2px;
}

//Bootstrap Overrides
form{
  .btn-primary {
    -webkit-linear-gradient: none;
    background-image: none;
    border: none;
    background: #01235a;
    border-radius: 0;
  }
}

#RegisterForm {
  overflow: hidden;
  margin: 0 auto 50px;
}

#RegisterReqs {
  width: 100%;
  margin: 0 auto;
}