<ul id="agenda">
    <li id="daySelector">
        <ul>
            <li class="prev">◀</li>
            <li class="date"><%= calendar.current.day_name %>, <%= calendar.month_names[calendar.current.month] %>, <%= calendar.current.today - 1 %></li>
            <li class="next">▶</li>
        </ul>
    </li>
    <li>
        <input id="addAnItem" type="text" placeholder="Add an item" autofocus>
        <ul id="controls">
            <li><a href="#apointment">Apointment</a></li>
            <li><a href="#task">Task</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#project">Project</a></li>
        </ul>
    </li>
</ul>
<a href="#" id="clearCompleted">Clear Completed</a>